body {
  text-align: center;
  background-color: #808080;
}

span {
  display: block;
}

.images-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

.targets {
  justify-self: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.timer {
  margin-top: 12px;
  margin-bottom: 12px;
}

.main-image {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 1000px;
  width: 1000px;
}

/* Modal */
.highscores-modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.highscores-modal {
  padding: 7px 9px 11px 9px;
  width: 25%;
  height: 27%;
}

.highscores-modal-grid {
  display: grid;
  grid-template-rows: auto 1fr 1.5fr auto;
}

.highscores {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 9px;
  padding-left: 9px;
  width: 100%;
}

.highscores-message {
  align-self: center;
}

.modal-close-container {
  display: flex;
  justify-content: right;
}

.modal-close {
  cursor: pointer;
  text-align: right;
}

.highscore-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.highscore-container > span > span {
  display: inline;
}

.play-again-button {
  justify-self: center;
  width: 100px;
  margin-top: 6px;
}

.username-input {
  margin-top: 9px;
  margin-bottom: 9px;
}
